.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.startpageCheckbox {
  color: white;
}
.ekraniDoldur {
  width: 100vh;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.padding-30px {
  padding: 30;
}
.container {
  width: calc(
    100% - 60px
  ); /* Genişliği 100%, ancak margin'leri çıkarmak için 60px çıkar */
  margin: 0 30px; /* Sağdan ve soldan 30px margin */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left,
.center,
.right {
  width: 100%; /* İçerikleri genişliklerini dolduracak şekilde ayarla */
  box-sizing: border-box; /* Padding ve border'ı elemanın genişliğine dahil et */
  padding: 15px; /* İçeriklere 15px padding */
}

.left {
  flex: 1;
  text-align: left;
}

.center {
  flex: 1;
  text-align: center;
}

.right {
  flex: 1;
  text-align: right;
}
.margin-top-50px {
  margin-top: 50px;
}
